{%extends 'home/base.html'%}
{% load crispy_forms_tags %}
         {% block content %}
         
		 <div class="container" style="padding:5">
		 <div class="content-section">
               <h2>{{week.name}}</h2>
	       <form method="POST" enctype="multipart/form-data">
		   {% csrf_token %}
		    <fieldset class="form-group">
                <legend class="border-bottom mb-4">Make your Meal Plan for any day of the week</legend>
                <h3>Breakfast</h3>
                  {{ b_form|crispy }}
                <h3>Lunch</h3>
                  {{ l_form|crispy }}
                <h3>Dinner</h3>
                  {{ s_form|crispy }}
		     </fieldset>
		      <div class="form-group">
			   <button class="btn btn-outline-info" type="submit">Update</button>
		      </div>
	       </form>
       </div>
   </div>
         {% endblock %}