{%extends 'home/base.html'%}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <!-- <link rel="stylesheet" href="{% static 'css/detail.css' %}"> -->
{% endblock %}
{% block content %}
	<div class="container-fluid">

		<div class="container">
			<div class="jumbtron">
				<h2 class="title">{{ object.name }}</h2>
			 </div>
	     </div>
<!---News-->
		<div class="container">
			<div class="row">
			<div class="col-sm-4">
				<legend>breakfast</legend>
                   <div class="card">

                            {% for b in object.breakfast.all %}
                            <img class="pic"  src="{{ b.image.url}}" style="border-radius:50%; height: 50px; width:50px;" alt="Big Sur">
							     <p>{{ b.description}}
									<!-- <small class="text-muted">{{new.date_posted | date:"F d, Y" }}</small> -->
								</p>
					
							{% endfor %}
				  </div>
			  </div>
				<div class="col-sm-4">
					<legend>Lunch</legend>
						<div class="card">

										{% for l in object.lunch.all %}
                                        <img class="pic"  src="{{ l.image.url}}" style="border-radius:50%; height: 50px; width:50px;" alt="Big Sur">
                                        <p>{{ l.description}}
                                           <!-- <small class="text-muted">{{new.date_posted | date:"F d, Y" }}</small> -->
                                       </p>
                           
                                   {% endfor %}
						  </div>
                 </div>
                 <div class="col-sm-4">
					<legend>Dinner</legend>
						<div class="card">

										{% for s in object.supper.all %}
                                        <img class="pic"  src="{{ s.image.url}}" style="border-radius:50%; height: 50px; width:50px;" alt="Big Sur">
                                        <p>{{ s.description}}
                                           <!-- <small class="text-muted">{{new.date_posted | date:"F d, Y" }}</small> -->
                                       </p>
                           
                                   {% endfor %}
						  </div>
				 </div>
			 </div>
			</div>
<div class="container">

	<legend>Important Notes</legend>
	<div class="row">
	{% for n in object.note.all %}
	<div class="col-sm-3">
		<div class="card border-primary mb-3" style="max-width: 18rem;">
			<div class="card-header"><h5>{{ n.caption }}</h5></div>
			<div class="card-body text-primary">
			  <p class="card-title">{{n.author}}</p>
	
			</div>
	</div>
    </div>
	{% endfor %}
	
</div>

<div class="container">
	<div class="col-sm-3">
	<article class="Profile">
		<legend>Items to Buy</legend>
		{% for i in object.item.all %}
        <p class="card-title">{{i.name}}</p>
	        <span>{{ i.quantity }}</span>
		{% endfor %}
	</article>
	<div class="container-fluid">
        <legend>Send email to Supplier</legend>
		<form method="post">
		  {%csrf_token%}
	  
		  {{ supplierform | crispy }}
		  <input type="submit" value="Supplier">
		</form>
	  
	  </div>
</div>
</div>
</div>
<div class="container">
	<div class="col-sm-3">
	<article class="Profile">
		<legend>Cleaning Duty</legend>
		{% for c in object.room.all %}
        <p class="card-title">{{c.room}}</p>
	        <span>{{ c.details }}</span>
		{% endfor %}
	</article>
</div>
</div>

<footer></footer>
{% endblock %}